<html>
<body>
<h1>Ficha de cliente</h1>

<p><a href="{% url lista-clientes %}">Lista de clientes</a>
</p>

<table border="1">
    <tr>
        <th>id</th><td>{{cli.id}}</td>
    </tr>
    <tr>
        <th>nome</th><td>{{cli.nome}}</a></td>
    </tr>
    <tr>
        <th>endereço</th><td>{{cli.endereco}}</td>
    </tr>
</table>

<form action="{% url cliente-obs %}" method="POST">
{% csrf_token %}
<input type="hidden" name="cliente_id" value="{{cli.id}}">
{{ formulario_obs.as_p }}
<input type="submit" name="atualizar" value="Atualizar observação">

</form>


</body>


</html>
